In [1]:
import pandas as pd
import lightgbm as lgbm
import numpy as np

In [2]:
test_x = pd.read_pickle("../feature/CPK_test_df.pkl")

In [3]:
test_x.head()

,id,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,anaemia 0,anaemia 1,...,platelets_low,creatinine_high,creatinine_normal,creatinine_low,sodium_high,sodium_normal,sodium_low,CPK_high,CPK_normal,CPK_low
0,1,67,56,60,255844.0310,0.824480,140,147,0,1,...,1,1,0,0,0,0,0,0,1,0
1,2,58,320,38,163434.8513,5.281481,134,207,1,0,...,1,1,0,0,0,0,1,1,0,0
2,4,67,737,60,255278.8436,0.841388,140,113,0,1,...,1,1,0,0,0,1,0,1,0,0
3,5,48,231,60,500149.7955,0.742807,139,215,1,0,...,1,1,0,0,0,1,0,1,0,0
4,6,59,320,35,245489.2530,1.082861,132,215,1,0,...,1,1,0,0,0,0,1,1,0,0

In [4]:
submit_df = pd.read_csv("../../data/sample_submission.csv")

In [5]:
submit_df.head()

   1  0
0  2  0
1  4  0
2  5  0
3  6  0
4  8  0

In [6]:
model = lgbm.Booster(model_file="../model/lgbm8.txt")

In [7]:
result = model.predict(test_x, num_iteration=model.best_iteration)

In [8]:
type(result)

numpy.ndarray

In [9]:
result = result.round()

In [10]:
result[:5]

array([0., 1., 0., 0., 0.])

In [11]:
result_id = test_x["id"].values

In [12]:
type(result_id)

numpy.ndarray

In [13]:
result_out = np.stack([result_id, result],axis=1).astype(np.int64)

In [14]:
np.savetxt("output8.csv", result_out, fmt="%d", delimiter=",")