In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv("../data/train.csv")

In [3]:
test_df = pd.read_csv("../data/test.csv")

In [4]:
train_df.head()

,id,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
0,0,56,1,5882,0,38,0,185315.0104,0.844417,134,1,0,10,1
1,3,50,0,1767,1,35,0,371620.3666,0.837448,136,0,0,187,1
2,7,41,0,250,1,30,0,372810.2084,0.819996,139,1,0,29,1
3,11,47,0,582,1,20,0,185780.6482,0.870314,137,0,0,43,0
4,12,60,0,80,0,25,0,265096.3999,0.828112,136,1,0,213,0

## ダミー変数への変換

In [5]:
dummies_train = pd.get_dummies(train_df,columns=["anaemia", "diabetes", "high_blood_pressure", "sex", "smoking"],prefix_sep=" ")

In [6]:
dummies_train.to_pickle("../src/feature/dummies_train_df.pkl")

In [7]:
dummies_train.columns

Index(['id', 'age', 'creatinine_phosphokinase', 'ejection_fraction',
       'platelets', 'serum_creatinine', 'serum_sodium', 'time', 'target',
       'anaemia 0', 'anaemia 1', 'diabetes 0', 'diabetes 1',
       'high_blood_pressure 0', 'high_blood_pressure 1', 'sex 0', 'sex 1',
       'smoking 0', 'smoking 1'],
      dtype='object')

In [8]:
dummies_test = pd.get_dummies(test_df,columns=["anaemia", "diabetes", "high_blood_pressure", "sex", "smoking"],prefix_sep=" ")

In [9]:
dummies_test.to_pickle("../src/feature/dummies_test_df.pkl")

## 外れ値の除去

In [10]:
dummies_train["platelets"][dummies_train["platelets"] >= 500000] = 500000

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
dummies_train["creatinine_phosphokinase"][dummies_train["creatinine_phosphokinase"] >= 3000] = 3000

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
dummies_train.to_pickle("../src/feature/outliers_train_df.pkl")