In [1]:
import pandas as pd
import lightgbm as lgbm
import numpy as np

In [2]:
test_x = pd.read_csv("../../data/test.csv")

In [3]:
test_x.head()

,id,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,1,67,1,56,0,60,0,255844.0310,0.824480,140,0,0,147
1,2,58,0,320,0,38,0,163434.8513,5.281481,134,0,0,207
2,4,67,1,737,0,60,0,255278.8436,0.841388,140,0,0,113
3,5,48,0,231,1,60,0,500149.7955,0.742807,139,1,1,215
4,6,59,0,320,0,35,0,245489.2530,1.082861,132,1,0,215

In [4]:
submit_df = pd.read_csv("../../data/sample_submission.csv")

In [5]:
submit_df.head()

   1  0
0  2  0
1  4  0
2  5  0
3  6  0
4  8  0

In [6]:
model = lgbm.Booster(model_file="../model/lgbm2.txt")

In [7]:
result = model.predict(test_x, num_iteration=model.best_iteration)

In [10]:
type(result)

numpy.ndarray

In [11]:
result = result.round()

In [12]:
result[:5]

array([0., 1., 0., 0., 0.])

In [13]:
result_id = test_x["id"].values

In [14]:
type(result_id)

numpy.ndarray

In [15]:
result_out = np.stack([result_id, result],axis=1).astype(np.int64)

In [16]:
np.savetxt("output2.csv", result_out, fmt="%d", delimiter=",")